@import "scss/vars";
@import "scss/layout";
@import "scss/index";
@import "scss/sketch";
@import "scss/recording";
@import "scss/contacts";
@import "scss/faq";
@import "scss/masters";
@import "../../node_modules/normalize.css/normalize.css";
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
//@import '../../node_modules/mini-css-extract-plugin/dist/loader.js';
//@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
//@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css';
//@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css';