extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Запись';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.inner
        h2.title-style-other-pages Запись
    div.back-fon-page
        img.back-fon-page__img(src=require("../images/recording/recording.jpg"))
        div.content-page
            div#vue-rec


