extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Эскиз';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.inner
        h2.title-style-other-pages Эскиз
    div.back-fon-page
        img.back-fon-page__img(src=require("../images/sketch/absol.jpg"))
        div.content-page
            div#vue-sketch
