.contact-container{
  flex-direction: column;
}
.contact-container__box-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
  width: 100%;
  height: 200px;
  @include mediaWidth($widthPhone) {
    display: none;
  }
}
.wrap-content-box--margin{
  align-self: center;
  margin-top: 5px;
}
.contact-content--margin-top{
  margin-top: 10px;
}
.contact-content__title--margin-top{
  margin-top: 10px;
  @include mediaWidth($widthTablet) {
   margin-top: 5px;
  }
}
.working-hours--align{
  align-self: center;
}
.social-media-page-contact{
  height: 130px;
}
.contact__map{
  width: 100%;
}
.page-contact-map iframe{
  width: 100%;
  height: 600px;
  @include mediaWidth($widthTablet) {
    height: 400px;
  }
  @include mediaWidth($widthPhone) {
    height: 300px;
  }
}
.contact__information-field--mobile-version-page-contact{
  display: none;
  @include mediaWidth($widthPhone) {
   display: block;
  }
}

