.contact__title-page-contact{
  text-align: left;
  margin: 70px 0 70px 200px;
}

.contact--display{
  flex-direction: column;
}

.contact__info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
  //box-shadow: 0px 46px 268px rgba(69, 141, 184, 0.46), 0px 13.8677px 80.7942px rgba(69, 141, 184, 0.299731), 0px 5.75991px 33.5578px rgba(69, 141, 184, 0.23), 0px 2.08325px 12.1372px rgba(69, 141, 184, 0.160269);
  width: 1168px;
  height: 200px;
}

.align-self{
  align-self: center;
}
.social-media-page-contact{
  height: 150px;
}

