.questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions-container{
  display: inline-flex;
  flex-direction: column;
}
.questions-item{
  margin: 10px 0 10px;

  .questions-item__questions{
    background-color: rgba(109, 112, 119, 0.15);
    display: inline-flex;
    font-weight: bold;
    font-size: 20px;
    color: #484848;
    width: 600px;
    margin-block: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    white-space: pre-wrap;
  }
  .questions-item__button{
    border-radius: 10px;
    border: none;
    font-size: 20px;
  }
}
.questions-item__answer{
  display: none;
  width: 600px;
  white-space: pre-wrap;
}

//форма

.form-faq{
  margin: 20px 0 40px;
}
.title-for-form{
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  width: 250px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px rgba(128, 128, 128, 0.4) solid;
}
.input--size{
  height: 25px;
}
.input-sub{
  border-radius: 10px;
  border: none;
  background-color: #A7BFE8;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 15px;
}
.input-sub:hover{
  background-color: #7a9bd2;
}