
.cub{
  width: 100%;
  height: 500px;
  background-color: #6D7077;
}

//УСЛУГИ
.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.services__title{
  text-align: center;
  font-weight: 500;
  color: $colorMenu;
  font-size: 16px;
  @include mediaWidth($widthTablet) {
    display: none;
    margin-bottom: 2px;
  }
}
.services__title--mobile{
  display: none;
  @include mediaWidth($widthTablet) {
    display: block;
    margin-bottom: 10px;
  }
}
.block-decor{
    width: 200px;
    height: 200px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  @include mediaWidth($widthTablet) {
    width: 200px;
    height: 200px;
  }
  @include mediaWidth($widthPhone) {
    width: 150px;
    height: 150px;
  }
    img{
      z-index: 2;
      @include mediaWidth($widthTablet) {
        width: 85px;
        height: 85px;
      }@include mediaWidth($widthPhone) {
        width: 55px;
        height: 55px;
      }
    }
}
.bg-hover{
  width: 70px;
  height: 70px;
  background-color: #A7BFE8;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  display: none;
}

//МАСТЕРА

.masters{
  width: 100%;
  height: auto;
}
.master-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.master{
  width: 350px;
  height: 400px;
  box-shadow: 0px 4px 92px rgba(42, 79, 160, 0.07), 0px 0.893452px 20.5494px rgba(42, 79, 160, 0.0381284), 0px 0.266004px 6.11809px rgba(42, 79, 160, 0.0232417);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  &:hover{
    box-shadow: 0px -7px 80px rgba(42, 79, 160, 0.12), 0px -3.23631px 36.9864px rgba(42, 79, 160, 0.0880224), 0px -1.85174px 21.1628px rgba(42, 79, 160, 0.069806), 0px -1.124px 12.8457px rgba(42, 79, 160, 0.0544984), 0px -0.677257px 7.74008px rgba(42, 79, 160, 0.0406396), 0px -0.37714px 4.31018px rgba(42, 79, 160, 0.0275912), 0px -0.162205px 1.85378px rgba(42, 79, 160, 0.0148405);
  }

  p{
    text-align: center;
  }
}

.master__photo{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.master__name {
  color: rgba(64, 64, 64, 0.86);
  font-weight: 700;
  margin-top: 10px;
  margin-block-end: 0;
}

.master__name--light{
  font-weight: 500;
  font-style: italic;
  color: #6D7077;
  margin-block-start: 0;
  margin: 6px 0 12px 0;
}

.li{
  text-decoration: none;
}
.butt{
  width: 170px;
  height: 40px;
  background-color: #6D99E9;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  display: none;
  cursor: pointer;
  font-family: 'Lora', serif;
}


//ПОСЛЕДНИЕ РАБОТЫ

.last-worck{
  display: flex;
  width: auto;
  height: 530px;
  a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
}

.slider{
  width: 500px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  .img{
    position: absolute;
    display: none;
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
    .img.curry{
      display: block;
      width: 500px;
    }
}
.prev{
  position: relative;
  top: 200px;
  left: 250px;
}
.next{
  position: relative;
  top: 200px;
  right: 250px;
}
.slider__but{
  width: 30px;
  height: 30px;
}

//КОНТАКТЫ
.contact{
  display: flex;
  margin: 0 auto;
}

.contact-wrap{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact__left-block{
  width: 350px;
  height: auto;
  background: linear-gradient(90deg, #8E9EAB 0%, #EEF2F3 100%);
  position: absolute;
  z-index: 2;
  padding: 10px;
  @include mediaWidth($widthXs) {
    position: relative;
    width: 100%;
  }

}
.wrap{
  display: flex;
  flex-direction: column;
}
.mar{
  margin-left: 10px;
}
.contact-content{
  display: flex;
  flex-direction: row;
}
.contact-content__title{
  margin-left: 15px;
  color: white;
}
.ini{
  display:flex;
  flex-direction: row;
}
.bold{
  font-weight: bold;
  color: #3f5791;
}
.bold--col{
  color: white;
}
.working-hours__title{
  color: white;
}
.social-media{
  margin-top: 20px;
  width: 80px;
  display: flex;
  justify-content: space-between;

  .social-media__img{
    width: 30px;
    height: 30px;
  }
}

//карта
.contact__right-block{
  position: relative;
  z-index: 1;
  @include mediaWidth($widthXs) {
    display: none;
  }
}
.map iframe{
  width: 1168px;
  height: 600px;

}




