
h2{
  text-align: center;
    font-family: FinistC;
    letter-spacing: 5px;
    font-size: 35px;
    color: $colorMenu;
}

//УСЛУГИ

.services{
    width: inherit;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //background-color: #A7BFE8;
}

.block-decor{
    width: 200px;
    height: 200px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    //text-align: center;
    img{
      z-index: 2;
    }
}

.fon{
  width: 70px;
  height: 70px;
  background-color: #A7BFE8;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  display: none;
}


//МАСТЕРА
.master-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.master img{
  width: 250px;
  border-radius: 50%;
  height: 250px;
  object-fit: cover;

  &:hover{
    opacity: 0.5;
  }
}
.master p {
  text-align: center;
}

.last-worck{
  width: auto;
  height: 100px;
  background-color: cadetblue;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.bold{
  font-weight: bold;
}