@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap');

@font-face {
  font-family: 'FinistC';
  src: url("/src/fonts/FinistC.otf") format("opentype");
}

h2{
  text-align: center;
  font-family: FinistC;
  letter-spacing: 5px;
  font-size: 35px;
  color: $colorMenu;
  margin: 100px 0;
}

p{
  font-family: 'Lora', serif;
}

//УСЛУГИ

.services{
    width: inherit;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //background-color: #A7BFE8;
}

.services__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: #A7BFE8;
  width: 300px;
  height: inherit;
}

.services__title{
  text-align: center;
  font-weight: 500;
  color: $colorMenu;
}

.block-decor{
    width: 200px;
    height: 200px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img{
      z-index: 2;
    }
}

.fon{
  width: 70px;
  height: 70px;
  background-color: #A7BFE8;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  display: none;
}


//МАСТЕРА

.masters{
  width: auto;
  height: 700px;
}

.master-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.master{
  width: 350px;
  height: 400px;
  box-shadow: 0px 4px 92px rgba(42, 79, 160, 0.07), 0px 0.893452px 20.5494px rgba(42, 79, 160, 0.0381284), 0px 0.266004px 6.11809px rgba(42, 79, 160, 0.0232417);
  display: flex;
  flex-direction: column;
  align-items: center;


  &:hover{
    box-shadow: 0px -7px 80px rgba(42, 79, 160, 0.12), 0px -3.23631px 36.9864px rgba(42, 79, 160, 0.0880224), 0px -1.85174px 21.1628px rgba(42, 79, 160, 0.069806), 0px -1.124px 12.8457px rgba(42, 79, 160, 0.0544984), 0px -0.677257px 7.74008px rgba(42, 79, 160, 0.0406396), 0px -0.37714px 4.31018px rgba(42, 79, 160, 0.0275912), 0px -0.162205px 1.85378px rgba(42, 79, 160, 0.0148405);
  }

  .master__photo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.master p {
  text-align: center;
}

.butt{
  width: 170px;
  height: 40px;
  background-color: #244082;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  display: none;
  cursor: pointer
}
.li{
  text-decoration: none;
}

.light{
  font-weight: 500;
  font-style: italic;
}




//последние работы
.last-worck{
  width: auto;
  height: 100px;
  background-color: cadetblue;
}


//контакты
.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bold{
  font-weight: bold;
}
.left-block{
  position: absolute;
  width: 400px;
  height: 270px;
  background-color: rgba(151, 148, 148, 0.43);
  z-index: 2;
  margin-top: 140px;
  margin-right: 50%;
}

.right-block{
  position: relative;
}
.map iframe{
  width: 1100px;
  height: 500px;
  z-index: 1;
}

.footer-contact.footer-contact--margin{
  margin-top: 0;
  margin-bottom: 0;

  p{
    color: #3f5791;
  }
  img{
    color: #3f5791;
  }
}
.info{
  p, span {
    color: #3f5791;
  }
}


