@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap');
@font-face {
  font-family: 'FinistC';
  src: url("/src/fonts/FinistC.otf") format("opentype");
}
body{
  background-color: $colorWhite;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
//подумать на цветом заголовков
h2{
  font-family: FinistC;
  text-align: center;
  letter-spacing: 5px;
  font-size: 35px;
  color: $colorMenu;
  margin: 90px 0 60px 0;
  @include mediaWidth($widthTablet) {
   margin: 40px 0;
  }
  @include mediaWidth($widthPhone) {
   margin: 30px 0;
  }
  @include mediaWidth($widthXs) {
   margin: 20px 0 0 0;
  }
}
.title-style-other-pages{
  text-align: left;
  margin: 70px 0 70px 200px;
}
p{
  font-family: 'Lora', serif;
}
.inner {
  max-width: 1168px;
  margin: 0 auto;
}


/*---------------------------*/

.logo{
  width: 70px;
  height: 73px;
  @include mediaWidth(766) {
    width: 60px;
    height: 63px;
  }
}
ul{
  padding: 10px;
}
.menu-link{
  font-family: FinistC;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: normal;
  margin: 0 30px;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  @include mediaWidth($widthPhone) {
    color: $colorMenu;
  }
  &:hover{
    color: #3c76e3;
  }
}
.footer-decoration{
  background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
  height: 50px;
  @include mediaWidth($widthXs) {
    display: none;
  }
}
.footer{
  height:inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

