@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'FinistC';
  src: url("/src/fonts/FinistC.otf") format("opentype");
}

//сетка
.inner {
  max-width: 1168px;
  margin: 0 auto;
  //background-color: #FFB0B0;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo{
  width: 70px;
  height: 73px;
  margin-top: 10px;
}
.menu{
  margin-top: 30px;
}
.menu__link{
  margin:0 30px;
  color: $colorMenu;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: normal;
  font-family: FinistC;
  &:hover{
    border-bottom: 2px solid rgba(78, 108, 180, 0.49);
  }
}

.footer-decoration{
  background: linear-gradient(90deg, #B993D6 0%, #8CA6DB 100%);
  width: auto;
  height: 50px;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-social-media{
  margin-top: 30px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.footer-img{
  width: 30px;
  height: 30px;
}

/*

//nav
.footer-menu{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.footer-menu__link{
  color: #ffffff;;
  text-decoration: none;
  margin: 6px 10px;
}

//info
.footer-contact{
  display: flex;
  flex-direction:column;
  margin-top: 30px;
}
.footer-contact__phone, .footer-contact__map {
  display: flex;
  flex-direction:row;
  margin-bottom: 6px;
  align-items: center;
  img{
    margin-right: 15px;
  }
  p{
    color: #ffffff;
  }
}

*/