.record form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-legend fieldset{
  display: flex;
  flex-direction: column;
}

.in{
  width: 300px;
  height: 30px;
  margin: 10px;
}