.back-fon-page{
  width:auto;
  height: 700px;
}
.back-fon-page__img{
  width: 100%;
  height: 700px;
  object-fit: cover;
  position: absolute;

}
.content-page{
  position: relative;
  top: 150px;
}
